<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <link href='/fullcalendar-5.11.5/fullcalendar/main.css' rel='stylesheet' />
    <script src='/fullcalendar-5.11.5/fullcalendar/main.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {

                customButtons: {
                    myCustomButton: {
                        text: '로그아웃',
                        click: function() {
                            window.open('/logout', '_self');
                        }
                    }
                },

                // Tool Bar 목록 document : https://fullcalendar.io/docs/toolbar
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'myCustomButton'

                },

                selectable: true,
                selectMirror: true,

                navLinks: true, // can click day/week names to navigate views
                editable: true,

                <!-- date 클릭했을때 발생 -->
                dateClick: function (info) {
                    window.open('/new-article?date=' + info.dateStr, '_self');
                },

                dayMaxEvents: true, // allow "more" link when too many events
                // 이벤트 객체 필드 document : https://fullcalendar.io/docs/event-object
                events: 'http://localhost:8080/api/diarys',
                <!-- 이벤트를 클릭했을때 발생 -->
                eventClick: function(info) {
                        window.open('/new-article?id=' + info.event.id, '_self');
                },
            });

            calendar.render();
        });

    </script>
</head>
<body>
<div id='calendar'></div>
</body>
</html>